# CX - Backend API  (https://cxapi.oraclesoft.cc)
PORT=5000

MONGO_URI=
JWT_SECRET=
JWT_EXPIRE=7d

PUBLIC_BACKEND_URL=https://cxapi.oraclesoft.cc
PUBLIC_FRONTEND_URL=https://cx.oraclesoft.cc

ORACLE_GAME_DATA_KEY=
OTP_API_KEY=
MASTER_API_URL=

# CX frontend domains
CLIENT_URL=https://cx.oraclesoft.cc
API_URL=https://cxapi.oraclesoft.cc
AFFILIATE_URL=https://partnercx.oraclesoft.cc
GUIDE_URL=https://guidecx.oraclesoft.cc
BRAND_URL=https://brandcx.oraclesoft.cc
ADMIN_URL=https://admincx.oraclesoft.cc
